snippet h1 "h1 headers"
= $0 =

endsnippet


snippet h2 "h2 headers"
== $0 ==

endsnippet


snippet h3 "h3 headers"
=== $0 ===

endsnippet

snippet cbj "Jira Checkbox"
* [ ] https://jira.routematch.com/browse/$1 -- $2 ($0)
endsnippet

snippet ij "Insert JIRA"
* [[https://rmjira.atlassian.net/browse/$1 | $1]] -- $0
endsnippet
